apiVersion: v1
kind: Service
metadata:
  name: test-otel-app
  namespace: monitoring
  labels:
    app: test-otel-app
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: test-otel-app
